

* {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family:monospace;
}

body {
    padding-top: 50px;
}
.home-screen {
    height: 100vh;
    background-color: #212529;
}

.api-anchor {
    font-size: 1.5rem;
}

.caroussel-img {
    max-width: 600px;
}